body{
    background: none repeat scroll 0 0 #F7F7F7;
}

.clear {
    clear: both;
}

.mainBody{
  margin:0 auto;
  width:960px;
  height:100%;
  background-color:#fff;
  border:1px solid #DDD;
  box-shadow: 1px 0 2px #AAAAAA;
}

.title{
	float:left;
	width:100%;
	margin-bottom:10px;
	background-color:#EC6500;
}

.titleIndustry{
	float:left;
	width:100%;
	margin-bottom:10px;
}

.nameIndustry{
	float:left;
	width:25%;
	height:130px;
	border-radius:90px;
	background-color:#EC6500;
}

.nameIndustry h2{
	font-size:30px;
	color:#fff;
	margin:20px;
}

.industry{
	float:left;
	width:40%
}

.name{
	float:left;
	width:75%;
}

.name h1, .name h2, .name h3, .teamMember h2, .teamMember h3, .mentor h2, .mentor h3, .classH2, .classH3, .classH3 a{
	margin-top: 30px;
	margin-bottom: 30px;
    color: #EC6500;
    font-size: 22px;
	text-align: left;
}

.name h1{
 color:#fff;
 font-size:45px;
 margin:20px;
}

.name h2, .name h3, .teamMember h2, .teamMember h3, .mentor h2, .mentor h3, .classH2, .classH3, .classH3 a{
	margin: 10px 0px 10px 0px;
     font-size: 14px;
}

.name h3, .teamMember h3, .mentor h3, .classH3, .classH3 a{
	color: #333;
	text-decoration:none;
}

.classH3 a:hover{
	color:#EC6500;
}

.logoDivPostTemplate{
	float:right;
	width:25%;
		background-color:#fff;
}

.logoDivPostTemplate img{
	float: left;
    margin: 8px;
    width: 7rem;
}

.description{
	margin-top:-10px;
}

.teamMemMentor, .teamMember{
	float:left;
	width:100%;
}

.teamMember{
	width:50%;
}

.mentor{
	float:right;
	width:50%;
}

.images{
	width:100%;
	margin-top:10px;
	float:left;
}

.images a img{
	width:7rem;
	border-radius:6px;
}

.images a{
    background-color: #FFFFFF;
    border-radius: 6px;
    display: inline-block;
    line-height: 0;
    margin: 0 0.5rem 1rem;
    padding: 4px;
    transition: background-color 0.5s ease-out 0s;
}

.images a:hover{
	background-color:#EC6500;
	outline:0 none;
}


