body{
    background: none repeat scroll 0 0 #F7F7F7;
}

.clear {
    clear: both;
}

.mainBody{
  margin:0 auto;
  width:960px;
  height:100%;
  background-color:#fff;
  border:1px solid #DDD;
  box-shadow: 1px 0 2px #AAAAAA;
}

/* css of left body starts */

.left-body{
  width:20%;
  height:100%;
  float:left;
}

.left-body ul{
   
    margin-left:-25px;
}

.left-body ul li{
    list-style: none;
    border:1px solid #FFF;
    background-color: #FBF1F2;
     padding: 2px 2px 2px 10px;
}

.left-body ul li:hover{
    background-color: #FFF;
    color:#B90F22;
}

.left-body ul a{
    color: #666;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: left;
    text-decoration:none;
}
/* css of left body ends */

/* css of right body starts */

.right-body{
  width:78%;
  height:100%;
  float:right;
}

h1,h2, h3, h4, h5, h6 {
    font-family: 'Century Gothic', sans-serif;
    line-height: 1.1em;
    margin-bottom: 20px;
}

.right-body h1{
    text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
     color: #B90F22;
     font-size: 22px;
}

.right-header{
    float:left;
    margin-top:20px;
    margin-left:10px;
    
}

.right-header a, .right-header span{
    color: #666;
     font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
    text-decoration:none;
}

.right-header a:hover{
    color:#B90F22;
}

.year h2{
    color: #B90F22;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10px;
    text-align: left;

}

.dottedLineDiv{
    border-left:1px dotted #333;
    margin-left:35px;
    margin-bottom:30px;
}

.team{
   background: none repeat scroll 0 0 #FDFDFD;
    border: 1px solid #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;
    margin: 10px 10px 10px 10px;
}

.headContainer{
    width:100%;
}

.teamNameDiv{
    width:80%;
    float:left;
    border-bottom:1px dotted #999;
}

.teamNameDiv a{
    text-decoration: none;
}

.teamNameDiv a h2:hover{
    color:#B90F22;
}

.teamNameDiv a h2{
    color: #333;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top:20px;
    margin-left: 20px;
}


.logoDiv{

    width:15%;
    float:right;
}

.logoDiv img{
    width:80px;
    height:40px;
    margin-right:20px;
    margin-top:10px;
}

.team p{
    margin-left:20px;
    margin-right:20px;
    color: #333333;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.6em;
}

.industryDiv h3{
    color: #333;
    font-size: 12px;
    margin-top:20px;
    margin-left: 20px;

}

.industryDiv{
    width:80%;
    float:left;
}

/* css of right body ends */

