/*************************************/
/* classes for individual designing */
/*************************************/
ul li ul{
	margin-left: 10px;
}

.classH1{

}

.classH2{
	color: #333;
	padding: 5px;
	background-color: #FBE0CC;
}

.classH3{
	color: #333;
	margin: 10px 0px;
}

.classUL-noListStyle{

}

.classUL-noListStyle li{
	list-style: none;
}

.classUL-ListStyle{

}

.classUL-ListStyle li{
	list-style: square inside;
}

.classDL{

}

.classDL dt{

}

.classDL dd{

}

/* general templates for floating right and left */
.floatRight{
	float: right;
}

.floatLeft{
	float: left;
}

.paddingFive{
	padding: 5px;
}

.marginTen{
	margin: 10px;
}

/*.marginBottomTen{
	margin-bottom: 10px;
}

.marginTopTen{
	margin-top: 10px;
}
*/


/*************************************/
/* general template. The HTML written is automatically
	added to the div with class "description".
	This sepreates the style of "team" page from other pages style
	and gives flexibility to write new CSS as well 
	as helps to reuse old CSS */
/*************************************/
.description div h2{
	color: #333;
	padding: 5px;
	background-color: #FBE0CC;
}

.description h2, .images h2, .files h2{
	color: #333;
	padding: 5px;
	background-color: #FBE0CC;
}

.description div h3{
	color: #333;
	margin: 10px 0px;
}

.description img{
	float: left;
	width: 100%;
}

.description li{
	list-style: square inside;
}

/*************************************/
/* specific template for team teamMembers
with name, image and description (TYPE 1) */
/*************************************/

.teamMembers{
	margin: 10px 0px;
}

.teamMembers div{
	float: left;
	width: 100%;
}

.teamMembers img{
	float: left; 
	margin:10px 0px;
	width: 20%;
}

.teamMembers div div{
	float: right;
	margin: 10px; 
	width: 70%;
}

/*************************************/
/* specific template for technologies
with name, image and description (TYPE 2) */
/*************************************/

.technologyTypeTwo{
	margin: 10px 0px;
}

.technologyTypeTwo div{
	float: left;
	width: 100%;
}

.technologyTypeTwo img{
	float: right; 
	margin:10px 0px;
	width: 7rem;
}

.technologyTypeTwo div div{
	float: left;
	margin: 10px; 
	width: 70%;
}

.technologyTypeTwo div div h3, .technologyTypeTwo div div h3 a{
	color:#333 !important;
}

.technologyTypeTwo div div h3 a:hover{
	color:#EC6500 !important;
}

/*************************************/
/* template for partner industry */
/*************************************/

.partnerIndustry{
	float: left;
	margin-bottom: 20px;
	width:100%;
}

.partnerIndustry div{
	float:left;
	width:70%;
}

.partnerIndustry h3{
	font-size: 14px;
}

.partnerIndustry img{
	float:right;
	width:20%;
	margin-top: 5px;
}