---
layout: home
---

 <div class="right-header">
                <a href="{{ site.baseurl }}/">Home</a><span> << Hall of Fame</span>
        </div>
        
        <div class="clear"></div>
            

<!-- div left side starts -->
         <div class="left-body">
          
                        <ul>
                            <a href="{{ site.baseurl }}/"><li>Home</li></a>
                            <a href="{{ site.baseurl }}/hof" id="clicked"><li>Hall Of Fame</li></a>
                            <a href="{{ site.baseurl }}/info"><li>Information</li></a>
                        </ul>
        </div>
<!-- div left side ends -->

<!-- div right side starts -->
    <div class="right-body">
     
     
		
	
	      
		     
		   {% for category in site.categories %}
  <li>
    <ul>
    {% assign myCategory = category | first %}
    
    {% if myCategory != 'projects' %}
    	
    	{% assign year = myCategory %}
	    <h2>{{year}}</h2>
	    {% for posts in category %}
	      {% for post in posts %}
	        {% assign link = post.url %}
	        {% assign teamName = post.title %}
	        <li><a href="{{ link }}">{{ teamName }}</a></li>
	      {% endfor %}
	    {% endfor %}
    {% endif %}
    </ul>
  </li>
{% endfor %}
    
			
 	</div>
      <!-- div right side starts -->
     
       <div class="clear"></div>
