---
layout: home
---

 <div class="right-header">
                <a href="{{ site.baseurl }}/">Home</a><span> << Hall of Fame</span>
        </div>
        
        <div class="clear"></div>
            

<!-- div left side starts -->
         <div class="left-body">
          
                        <ul>
                            <a href="{{ site.baseurl }}/"><li>Home</li></a>
                            <a href="{{ site.baseurl }}/hof" id="clicked"><li>Hall Of Fame</li></a>
                            <a href="{{ site.baseurl }}/info"><li>Information</li></a>
                        </ul>
        </div>
<!-- div left side ends -->

<!-- div right side starts -->
    <div class="right-body">
     
      	{% for post in site.posts %}
        	{% capture url %}{{ post.url }}{% endcapture %}
        	{{ url | split:"/" }}
        	{% for item in url limit:1 offset:2 %}
  		<p>	{{ item }}</p>
		{% endfor %}
		{% endfor %}     
 	</div>
      <!-- div right side starts -->
     
       <div class="clear"></div>
