---
layout: home
---

 <div class="right-header">
                <a href="{{ site.baseurl }}/">Home</a><span> << Hall of Fame</span>
        </div>
        
        <div class="clear"></div>
            

<!-- div left side starts -->
         <div class="left-body">
          
                        <ul>
                            <a href="{{ site.baseurl }}/"><li>Home</li></a>
                            <a href="{{ site.baseurl }}/hof" id="clicked"><li>Hall Of Fame</li></a>
                            <a href="{{ site.baseurl }}/info"><li>Information</li></a>
                        </ul>
        </div>
<!-- div left side ends -->

<!-- div right side starts -->
    <div class="right-body">
     
      	{% for post in site.posts %}
        	
  			{% assign urlArray = post.url | split:"/" %}
        	
        		{% for urlElements in urlArray limit:1 offset:2 %}
        			<h1>{{ urlElements }}</h1>
        		{% endfor %}
	        	
		{% endfor %}     
		
	
	        {% for myYear in (2012..2014) reversed %}
       			
       			<p>myYear: {{ myYear }}</p>
       			
						{% for mypage in site.categories[myYear] %}
        	
	        	
	            {% assign link = mypage.url %}
	            <p>my link: {{ link }}</p>
	            {% assign teamName = link | split:"/" %}
	            {% assign teamName = teamName[6] %}
	            <p>my team name: {{ teamName }}</p>
		        
		        {% endfor %}	
		     {% endfor %}
		     
		   	{% for mypage in site.categories %}
		   	{% if mypage != "projects" %}	<p>{{ mypage }}</p>{% endif %}
		   	{% endfor %}
    
			
 	</div>
      <!-- div right side starts -->
     
       <div class="clear"></div>
