<li>
<a href="http://www.tu-darmstadt.de/">TU Darmstadt</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="http://www.informatik.tu-darmstadt.de/">Informatik</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="http://www.stg.tu-darmstadt.de/stg/homepage.en.jsp">Software Technology Group</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="http://www.stg.tu-darmstadt.de/teaching_iverview.en.jsp">Teaching</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="http://www.stg.tu-darmstadt.de/sose_2014/sose2014_index.en.jsp">Courses</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="http://www.stg.tu-darmstadt.de/teaching_ws2012_index_1.en.jsp">WS 2013/14</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="http://www.stg.tu-darmstadt.de/teaching/courses/wise_2013_14/sep_wise_2013_14/sep_wise_2013_14.en.jsp">Software Engineering Project</a>
</li>
<li class="doppelpfeil"></li>