<li>
<a href="http://www.tu-darmstadt.de/">TU Darmstadt</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="http://www.informatik.tu-darmstadt.de/">Informatik</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="../../../../stg/homepage.en.jsp">Software Technology Group</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="../../../teaching_iverview.en.jsp">Teaching</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="../../sose_2014/sose2014_index.en.jsp">Courses</a>
</li>
<li class="doppelpfeil"></li>
<li>
<a href="../teaching_ws2012_index_1.en.jsp">WS 2013/14</a>
</li>
<li class="doppelpfeil"></li>
<li>
<span class="grau">Software Engineering Project</span>
</li>
<li class="doppelpfeil"></li>