<!-- left navigation bar start-->
<nav class="navigationsspalte float-left margin-right-normal">
	<h1><a class="aktiv ohne_abstand" href="../../../teaching_iverview.en.jsp">Software Projects</a></h1>
	<ul class="rahmenlinie_unten">
		<li><a href="{{ site.baseurl }}/" class="ebene1 aktiv">Home</a></li>
		<li><a href="{{ site.baseurl }}/hof" class="ebene1">Hall of Fame</a></li>
		<li><a href="{{ site.baseurl }}/information" class="ebene1">Information</a></li>
	</ul>
</nav>
<!-- left navigation bar ends-->