<!-- div for contact info starts -->
	<aside class="rechte_marginalienspalte float-left abstand">
		<section class="kontaktinformationen">
		<h1>Contact</h1>
		<p>
			Technische Universität Darmstadt
		</p>
		<div class="float-right margin-left-halb abstand">
			<a class="details" href="http://www.stg.tu-darmstadt.de/staff/ben_hermann/index.en.jsp">
				<img src="http://www.stg.tu-darmstadt.de/media/st/staff/BenHermann_44x0.jpg" width="44" height="44" alt=""/>
			</a>
		</div>
		<div class="vcard">
		<address>
		<p>
		<a href="http://www.stg.tu-darmstadt.de/staff/ben_hermann/index.en.jsp">
			Dipl.-Inform.
		<span class="fn">Ben
		Hermann</span>
		</a>
		</p>
		<p class="adr"><span class="type display-none">Work</span>
		S2|02 A222<br/>
<span class="street-address">Hochschulstr. 10</span><br/>
<span class="postal-code">64289</span>
<span class="locality">Darmstadt</span>
</p>
<p>
<span class="icon telefon tel"><span class="type display-none">work </span>+49 6151 16-5668</span><br/>
<span class="icon fax tel"><span class="type display-none">fax </span>+49 6151 16-5410</span><br/>
</p>
<p>
<span class="icon email" title="Replace &#171;tu-&#187; by &#171;tu-darmstadt.de&#187;">hermann&#064;st.informatik.tu-...</span>
</p>
</address>
</div>
<div class="clear"></div>
<div class="float-right margin-left-halb abstand">
<a class="details" href="http://www.stg.tu-darmstadt.de/staff/sebastian_proksch/index.en.jsp">
<img src="http://www.stg.tu-darmstadt.de/media/st/staff/sebastian_proksch_44x0.jpg" width="44" height="59" alt=""/>
</a>
</div>
<div class="vcard">
<address>
<p>
<a href="http://www.stg.tu-darmstadt.de/staff/sebastian_proksch/index.en.jsp">
<span class="fn">Sebastian
Proksch</span>, M.Sc.
</a>
</p>
<p class="adr"><span class="type display-none">Work</span>
S2|02 A222<br/>
<span class="street-address">Hochschulstr. 10</span><br/>
<span class="postal-code">64289</span>
<span class="locality">Darmstadt</span>
</p>
<p>
<span class="icon telefon tel"><span class="type display-none">work </span>+49 6151 16-5478</span><br/>
<span class="icon fax tel"><span class="type display-none">fax </span>+49 6151 16-5410</span><br/>
</p>
<p>
<span class="icon email" title="Replace &#171;tu-&#187; by &#171;tu-darmstadt.de&#187;">proksch&#064;st.informatik.tu-...</span>
</p>
</address>
</div>
<div class="clear"></div>
</section>
<div class="inhalt">
</div>
</aside>
<!-- div for contact info ends -->

</div>
<!-- right content div ends -->


<div class="clear"></div>

<div class="rechts"><a class="nach_oben" href="#" title="to top"></a></div>

