---
layout: default
---

<div>
  <h1>Projects:</h1>
  
  <!-- div for a particular year starts  -->
  {% for project in page.projects %}
  <div class="yearDiv">
    <h2 class="year">{{ project.year }}</h2>
    <ul>
    <!-- teams in that year starts-->
    {% for team in project.teams%}
      <li>
        <!--team name-->
        {% if team.link %}
        <a href="{{ team.link }}">
          <h3>{{ team.name }}</h3>
        </a>
        {% endif %}
        
        <!--team logo-->
        {% if team.logo %} <img src="{{ team.logo }}" width="60px" height="40px"> {% endif %}
        
        <!--industry partner-->
        {% if team.partnerIndustry %} <h4>{{ team.partnerIndustry }}</h4> {% endif %}
        
        <!--industry partner logo-->
        {% if team.partnerIndustryLogo %} <img src="{{ team.partnerIndustryLogo }}" width="60px" height="40px">  {% endif %}
        
        <!--team description-->
        {% if team.description %} <p>{{ team.description }}</p> {% endif %}
        
      </li>
    {% endfor %}  
    <!-- teams in that year ends-->  
    </ul>
  </div>
  {% endfor %}
  <!-- div for a particular year ends  -->
  
</div>
