---
layout: home
---

 <div class="right-header">
                <a href="{{ site.baseurl }}/">Home</a><span> << Hall of Fame</span>
        </div>
        
        <div class="clear"></div>
            

<!-- div left side starts -->
         <div class="left-body">
          
                        <ul>
                            <a href="{{ site.baseurl }}/"><li>Home</li></a>
                            <a href="{{ site.baseurl }}/hof" id="clicked"><li>Hall Of Fame</li></a>
                            <a href="{{ site.baseurl }}/info"><li>Information</li></a>
                        </ul>
        </div>
<!-- div left side ends -->

<!-- div right side starts -->
      <div class="right-body">
      
        <h1>Hall Of Fame</h1>
			
				{% for category in site.categories reversed %}
				
    		{% assign myCategory = category | first %}
    
    		{% if myCategory != 'projects' %}
     			{% assign year = myCategory %}

               <!-- div year starts -->
               <div class="year">
                  <h2>Year: {{ year }}</h2>
                  <!-- div added only to add dotted line -->
                  <div class="dottedLineDiv">
              
									{% for posts in category %}
										{% for page in posts %}
											{% if page.url %}
												{% assign link = page.url %}
												{% assign teamName = page.title %}
												
                <!-- single team contatiner starts -->
                <div class="team">
                    <div class="headContainer">
                        <div class="teamNameDiv">
                    
                    <!-- get the link to the folders inside the categories starts -->
                    {% assign splittedLink = link | split:"/" %}
                    {% assign folderLink = "/" | append:splittedLink[0] | append:'/' | append:splittedLink[1] | append:'/' %}
                    <p>folderLink: {{folderLink}}</p>
                    <p>splittedLink[0]</p>
                    <!-- get the link to the folders inside the categories ends -->
                    
                    <!-- Team name starts -->    
                          {% if page.url %}
                             <a href="{{ site.baseurl }}/{{ link }}"><h2>{{ teamName }}</h2></a>
                          {% else %}
                            <a><h2>{{ teamName }}</h2></a>
                          {% endif %}
                    <!-- Team name ends -->
                    
                        </div>
                        
                    <!--team logo-->
                        <div class="logoDiv">
                            {% if page.logo %} <img class="teamLogo" src="{{ page.logo }}"> {% endif %}
                        </div>
                    <!--team logo ends -->      
                    
                    </div>
                    <div class="clear"></div>
                    
                    <!-- description -->
                     {% if page.shortDescription %} <p>{{ page.shortDescription }}</p> {% endif %}
                    
                    <div class="headContainer">
                        <div class="industryDiv">
                          <!--industry partner-->
                          {% if page.partnerIndustry %} <h3>Industry Partner: {{ page.partnerIndustry }}</h3> {% endif %}
                        </div>
                        
                        <div class="logoDiv">
                          <!--industry partner logo-->
                          {% if page.partnerIndustryLogo %} <img class="teamLogo" src="{{ page.partnerIndustryLogo }}">  {% endif %}
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                </div>
                <!-- single team contatiner ends -->
              {% endif %}
						{% endfor %}
					{% endfor %}
    
    </div>
    <!--div dotted line ends-->
    </div>
    <!-- div year ends -->
    {% endif %}
{% endfor %}
        
 </div>
      <!-- div right side starts -->
     
       <div class="clear"></div>
