---
layout: home
---

				 <!-- get the link to the folders inside the categories starts -->
				{% assign splittedLink11 = page.url | split:"/" %}
				{% assign myYear11 = splittedLink11[2] %}
	 			<!--    get the link to the folders inside the categories ends -->

<!-- backlinking starts -->
 <div class="right-header">
 </div>
<div class="clear"></div> 
<nav class="breadcrumbs">
	<ol>
		<li>
			<a href="{{ site.baseurl }}/">Home</a>
		</li>
		<li class="doppelpfeil"></li>
		<li>
			<a href="{{ site.baseurl }}/hof">Hall of Fame</a>
		</li>
		<li class="doppelpfeil"></li>
		<li>
			<span class="grau">{{ myYear11 }}</span>
		</li>
		<div class="clear"></div>
	</ol>		
</nav>
<!-- backlinking ends -->
            
	
<!-- left navigation bar start-->
<nav class="navigationsspalte float-left margin-right-normal">
	<h1><a class="aktiv ohne_abstand" href="../../../teaching_iverview.en.jsp">Software Projects</a></h1>
	<ul id="ul1" class="rahmenlinie_unten">
		<li id="li1"><a href="{{ site.baseurl }}/" class="ebene1" id="1">Home</a></li>
		<li id="li2"><a href="{{ site.baseurl }}/hof" class="ebene1 aktiv" id="2">Hall of Fame</a></li>
			<ul>
				 {% for years in (site.startingYear..site.currentYear) reversed %}

					{% assign splittedLink111 = page.url | split:"/" %}
				{% assign myYearInside = splittedLink111[2] %}
				{% capture myYearCaptured %}{{ splittedLink111[2] }}{% endcapture %}
					 			<!--    get the link to the folders inside the categories ends -->
	 			
				{% if years == myYearCaptured %}

				<li>
					<a href="{{ site.baseurl }}/projects/{{years}}/hof-year" class="ebene3 aktiv" id="{{years}}">{{years}}</a>
				</li>
					<ul>
						{% for page in site.pages %}
							{% if page.kind == 'team' %}
        	
		        			 <!-- get the link to the folders inside the categories starts -->
							{% assign splittedLink12 = page.url | split:"/" %}
 							{% capture myYear12 %}{{ splittedLink12[2] }}{% endcapture %}
				 			<!--    get the link to the folders inside the categories ends -->
        
							{% if myYear12 == myYearCaptured %}   
						
						
						<li>
							<a href="{{ site.baseurl }}/projects/{{years}}/hof-year" class="ebene4" id="{{years}}">{{ page.name }}</a>
						</li>
							{% endif %}
							{% endif %}							
						{% endfor %}
					</ul>
				{% else %}
				<li>
					<a href="{{ site.baseurl }}/projects/{{years}}/hof-year" class="ebene3" id="{{years}}">{{years}}</a>
				</li>
				{% endif %}	
				{% endfor %}
			</ul>
		<li id="li3"><a href="{{ site.baseurl }}/information" class="ebene1" id="3">Information</a></li>
	</ul>
</nav>
<!-- left navigation bar ends-->	
	
	<!-- right content div starts -->
<div id="content" class="content">

	<!-- add our content in this div -->
	<div class="zentrale_spalte eine_spalte float-left margin-right-normal">
		<section id="intro">
			
		
	<!-- my code starts -->	

<!-- div right side starts -->
      <div class="right-body">
      
        <h1>Hall Of Fame</h1>
        
         <!-- get the link to the folders inside the categories starts -->
				{% assign splittedLink1 = page.url | split:"/" %}
				{% capture myYear1 %}{{ splittedLink1[2] }}{% endcapture %}
	 			<!--    get the link to the folders inside the categories ends -->
        
        
      	     <!-- div year starts -->
         <div class="year">
		    <h2>Year: {{ myYear1 }}</h2>
            <!-- div added only to add dotted line -->
            <div class="dottedLineDiv">
              
        {% for page in site.pages %}
        	{% if page.kind == 'team' %}
        	
	        	 <!-- get the link to the folders inside the categories starts -->
				{% assign splittedLink = page.url | split:"/" %}
				{% assign folderLink = "/" | append:splittedLink[1] | append:'/' | append:splittedLink[2] | append:'/' | append:splittedLink[3] | append:'/' %}
 				{% capture myYear %}{{ splittedLink[2] }}{% endcapture %}
	 			<!--    get the link to the folders inside the categories ends -->
        
				{% if myYear1 == myYear %}   

                <!-- single team contatiner starts -->
                <div class="team">
                    <div class="headContainer">
                        <div class="teamNameDiv">
                    
                    <!-- Team name starts -->    
						  {% if page.ownSite == 'ye' %}
                             <a href="{{ site.baseurl }}/site/"><h2>{{ page.name }}</h2></a>
                          {% elsif page.url %}
                             <a href="{{ page.url | prepend:site.baseurl }}"><h2>{{ page.name }}</h2></a>
                          {% else %}
                            <a><h2>{{ page.name }}</h2></a>
                          {% endif %}
                    <!-- Team name ends -->
                    
                        </div>
                        
                    <!--team logo-->
                        <div class="logoDiv">
                            {% if page.logo %} <img class="teamLogo" src="{{ page.logo | prepend:'img/' | prepend:folderLink | prepend:site.baseurl }}"> {% endif %}
                        </div>
                    <!--team logo ends -->      
                    
                    </div>
                    <div class="clear"></div>
                    
                    <!-- description -->
                     {% if page.shortDescription %} <p>{{ page.shortDescription }}</p> {% endif %}
                    
                    <div class="headContainer">
                        <div class="industryDiv">
                          <!--industry partner-->
                          {% if page.partnerIndustry %} <h3>Industry Partner: {{ page.partnerIndustry }}</h3> {% endif %}
                        </div>
                        
                        <div class="logoDiv">
                          <!--industry partner logo-->
                          {% if page.partnerIndustryLogo %} <img class="teamLogo" src="{{ page.partnerIndustryLogo | prepend:'img/' | prepend:folderLink | prepend:site.baseurl }}">  {% endif %}
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    
                </div>
                <!-- single team contatiner ends -->
                
               
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
    <!--div dotted line ends-->
    </div>
    <!-- div year ends -->
  
           
 </div>
      <!-- div right side starts -->
     
       <div class="clear"></div>
       
<!-- my code ends -->		
		
</section>
</div>
<!-- add our content in this div ends-->

