---
layout: home
page: postTemplate
---

<!-- backward navigation starts -->
<div class="right-header">
	<a href="{{ site.baseurl }}/">Home</a><span> << </span><a href="{{ site.baseurl }}/hof">Hall of Fame</a><span> << {{ page.title }}</span>
</div>
        
<div class="clear"></div>
<!-- backward navigation starts -->            

<!-- div left side starts -->
<div class="left-body">
          
	<ul>
       <a href="{{ site.baseurl }}/"><li>Home</li></a>
       <a href="{{ site.baseurl }}/hof"><li>Hall Of Fame</li></a>
       <a href="{{ site.baseurl }}/info"><li>Information</li></a>
    </ul>
    
</div>
<!-- div left side ends -->

<!-- div right side starts -->
<div class="right-body">
      
    <!-- title div starts -->  
	<div class="title">
		<!-- Team Name -->
	    <h1>{{ page.title }}</h1>
		<!-- Logo -->
		<img href="" />
	</div>
    <!-- title div ends -->	
    
    <!-- desc div starts -->  
	<div class="description">
		{{ content }}
	</div>
    <!-- desc div ends -->	
    
    <!-- partner industry div starts -->  
	<div class="partnerIndustry">
		<!-- Industry Name -->
	    <h2>SAP Solutions</h2>
		<!-- Logo -->
		<img href="" />
	</div>
    <!-- partner industry div ends -->	
    
    <!-- Team Members and mentors div starts -->  
	<div class="teamMemMentor">
		<!-- team member div -->
		<div class="teamMember">
		    <h2>Team Members</h2>
		    <h3>Ankit Goyal</h3>
		    <h3>Philipp</h3>
		</div>
		<!-- mentor div -->
		<div class="mentor">
		    <h2>Mentors</h2>
		    <h3>Prof. abc</h3>
		    <h3>Prof. Dr. Ing. X</h3>
		</div>
	</div>
    <!-- Team Members and mentors div ends -->	
    
    <!-- img div starts -->  
	<div class="images">
		<img href="" />
	</div>
    <!-- img div ends -->	

    <!-- files div starts -->  
	<div class="files">
		<img href="" />
	</div>
    <!-- files div ends -->	
    
<!-- get the link to the folders inside the categories starts -->
{% assign splittedLink = page.url | split:"/" %}
{% assign folderLink = "/" | append:splittedLink[1] | append:'/' | append:splittedLink[2] | append:'/' %}
<!-- get the link to the folders inside the categories ends -->
                
<!-- get the category and hence year starts -->
{% assign myCategory = page.categories %}
{% assign year = myCategory[1] %}
<!-- get the category and hence year ends -->
                
                    


<!-- year -->
<h2>{{ year }}</h2>

<!-- description -->
<p>{{ content }}</p>

<!-- images -->
{% for i in (1..page.nrOfImages) %} 
<img src="{{ page.imgPath }}{{ i }}.jpg" height="42" width="42" >
{% endfor %}

<!-- pdf files -->
{% for i in (1..page.nrOfFiles) %} 
<img src="{{ page.filePath }}{{ i }}.jpg" height="42" width="42" >
{% endfor %}

<div>
<iframe class="viewer" id="viewerBox" frameborder="0" src="http://connect.ajaxdocumentviewer.com/?key=KVEKSQ1P7I5062014184821&viewertype=flash&document=http://wwwimages.adobe.com/content/dam/Adobe/en/products/acrobat/pdfs/adobe-acrobat-xi-esign-pdf-file-tutorial-ue.pdf&viewerheight=600&viewerwidth=800&printButton=Yes&toolbarColor=CCCCCC" allowtransparency="true"></iframe>
</div>

	<div class="files">
		<h2 class="classH2">Files</h2>
		<a href="http://connect.ajaxdocumentviewer.com/?key=KVEKSQ1P7I5062014184821&viewertype=flash&document=http://wwwimages.adobe.com/content/dam/Adobe/en/products/acrobat/pdfs/adobe-acrobat-xi-esign-pdf-file-tutorial-ue.pdf&viewerheight=600&viewerwidth=800&printButton=Yes&toolbarColor=CCCCCC" allowtransparency="true" data-lightbox="pdfFile">
		pdf File
		</a>
	</div>


</div>
