---
layout: default
---

<!-- template of the right side of the page for template based teams -->
<div class="post">

{% for project in site.projects %}

{% if project.year == page.year %}

 {% for team in project.teams%}
{% if team.name == page.title %}
<!-- Team Name -->
    <h1>{{ site.title }}</h1>

<!-- year -->
<h2>{{ site.year }}</h2>

<!-- description -->
<p>{% if site.description %} {{ site.description }} {% endif  %}</p>

<!-- images -->
{% for i in (1..site.nrOfImages) %} 
<img src="{{ site.imgPath }}{{ i }}.jpg" height="42" width="42" >
{% endfor %}

<!-- pdf files -->
{% for i in (1..site.nrOfFiles) %} 
<img src="{{ site.filePath }}{{ i }}.jpg" height="42" width="42" >
{% endfor %}

{% endif %}
{% endfor %}

{% endif %}
{% endfor %}
</div>
