---
layout: default
---


<!-- get the link to the folders, starts -->
{% assign splittedLink11 = page.url | split:"/" %}
{% capture myYear11 %}{{ splittedLink11[2] }}{% endcapture %}
{% assign thePageName = page.myName %}
<!-- get the link to the folders, ends -->

<!-- backlinking starts -->
 <div class="right-header">
 </div>
<div class="clear"></div> 
<nav class="breadcrumbs">
	<ol>
		<li>
			<a href="{{ site.baseurl }}/">Home</a>
		</li>
		<li class="doppelpfeil"></li>
		<li>
			<a href="{{ site.baseurl }}/projects/">Hall of Fame</a>
		</li>
		<li class="doppelpfeil"></li>
		<li>
			<a href="{{ site.baseurl }}/projects/{{myYear11}}/">{{myYear11}}</a>
		</li>
		<li class="doppelpfeil"></li>
		<li>
			<span class="grau">{{ page.myName }}</span>
		</li>
		<div class="clear"></div>
	</ol>		
</nav>
<!-- backlinking ends -->
           

<!-- left navigation bar start-->
<nav class="navigationsspalte float-left margin-right-normal">
	<h1><a class="aktiv ohne_abstand" href="../../../teaching_iverview.en.jsp">Software Projects</a></h1>
	<ul id="ul1" class="rahmenlinie_unten">
		<li id="li1"><a href="{{ site.baseurl }}/" class="ebene1" id="1">Home</a></li>
		<li id="li2"><a href="{{ site.baseurl }}/projects/" class="ebene1 aktiv" id="2">Hall of Fame</a></li>
			<ul>
		{% for years in site.year %}
				{% capture yearCapturing %}{{ years }}{% endcapture %}
				
				{% if myYear11 == yearCapturing %}
				<li>
					<a href="{{ site.baseurl }}/projects/{{years}}/" class="ebene3 aktiv" id="{{years}}">{{years}}</a>
				</li>
					<ul>
						{% for page in site.pages %}
							{% if page.kind == 'team' %}
        	
		        			 <!-- get the link to the folders inside the categories starts -->
							{% assign splittedLink12 = page.url | split:"/" %}
 							{% capture myYear12 %}{{ splittedLink12[2] }}{% endcapture %}
				 			{% assign folderLink = "/" | append:splittedLink12[1] | append:'/' | append:splittedLink12[2] | append:'/' | append:splittedLink12[3] | append:'/' %}
				 			<!--    get the link to the folders inside the categories ends -->
        
							{% if myYear12 == myYear11 %} 
							  
						{% if thePageName == page.myName %}
						 
						 	  {% if page.ownSite == 'own' %}
                            	 <li><a href="{{ site.baseurl }}{{ folderLink }}site/" class="ebene4 aktiv">{{ page.myName }}</a></li>
	                          {% elsif page.ownSite == 'legacy' %}
    	                         <li><a class="ebene4 aktiv">{{ page.myName }}</a><li>
        	                  {% else %}
            	                 <li><a href="{{ page.url | prepend:site.baseurl }}" class="ebene4 aktiv">{{ page.myName }}</a></li>
                	          {% endif %}
						
						{% else %}
							
							 {% if page.ownSite == 'own' %}
        	                     <li><a href="{{ site.baseurl }}{{ folderLink }}site/" class="ebene4">{{ page.myName }}</a></li>
            	              {% elsif page.ownSite == 'legacy' %}
                	             <li><a class="ebene4">{{ page.myName }}</a><li>
                    	      {% else %}
                        	     <li><a href="{{ page.url | prepend:site.baseurl }}" class="ebene4">{{ page.myName }}</a></li>
                          	{% endif %}	
                          	
							{% endif %}
						{% endif %}
					{% endif %}							
				{% endfor %}
					</ul>
				{% else %}
				<li>
					<a href="{{ site.baseurl }}/projects/{{years}}/" class="ebene3" id="{{years}}">{{years}}</a>
				</li>
				{% endif %}	
				{% endfor %}
			</ul>
		<li id="li3"><a href="{{ site.baseurl }}/information" class="ebene1" id="3">Information</a></li>
	</ul>
</nav>
<!-- left navigation bar ends-->	
	




<!-- right content div starts -->
<div id="content" class="content">

	<!-- add our content in this div -->
	<div class="zentrale_spalte eine_spalte float-left margin-right-normal">
		<section id="intro">
			
		
	<!-- my code starts -->	

<!-- div right side starts -->
<div class="right-body">
      
    <!-- get the link to the folders, starts -->
	{% assign splittedLink = page.url | split:"/" %}
	{% assign folderLink = "/" | append:splittedLink[1] | append:'/' | append:splittedLink[2] | append:'/' | append:splittedLink[3] | append:'/' %}
 <!--    get the link to the folders, ends -->
          
                      
    <!-- title div starts -->  
	<div class="title">
		<!-- Team Name -->
		<div class="name">
		    <h1>{{ page.myName }}</h1>
		</div>
		<!-- Logo -->
	
		<div class="logoDivPostTemplate">	
			{% if page.logo %} <img src="{{ page.logo | prepend:'img/' | prepend:folderLink | prepend:site.baseurl }}"> {% endif %}
		</div>
	</div>
    <!-- title div ends -->	
    
     <div class="clear"></div>
    
    <!-- desc div starts -->  
	<div class="description">
		{{ content }}
	</div>
    <!-- desc div ends -->	

     <div class="clear"></div>
    
    <!-- partner industry div starts  
   	{% if page.partnerIndustry %} 
    <div class="title">
		 Team Name 	
		<div class="name">
		    <h2>Partner Industry</h2>
		    <h3>{{ page.partnerIndustry }}</h3>
		</div>
		 Logo
		<div class="logoDivPostTemplate">	
			<img src="{{ page.partnerIndustryLogo | prepend:'img/' | prepend:folderLink | prepend:site.baseurl }}"> 
		</div>
	</div>
	{% endif %}
    partner industry div ends -->	

    <!-- <div class="clear"></div> -->
    
    <!-- Team Members and mentors div starts 
    {% if page.teamMembers %}  
	<div class="teamMemMentor">
		// team member div 
		<div class="teamMember">
		    <h2>Team Members</h2>

		    {% for members in page.teamMembers%}
			    <h3>{{ members }}</h3>
		    {% endfor %}
		</div>
		// mentor div 
		<div class="mentor">
		    <h2>Mentors</h2>
		    {% for mentors in page.projectMentors%}		    
			    <h3>{{ mentors }}</h3>
		    {% endfor %}
		</div>
	</div>
	{% endif %}
    // Team Members and mentors div ends -->	

    <div class="clear"></div>

	{% if page.images %}
    <!-- img div starts -->  
	<div class="images">
		<h2>Files</h2> 
		{% for image in page.images %}
			<!-- get small image link -->
			{% assign myLinkImage = image %}
			{% assign delimiter = '.' %}
			{% assign newSmallImageLink = myLinkImage | replace:delimiter, '_small.' %}
			<a href="{{ image | prepend:'img/' | prepend:folderLink | prepend:site.baseurl }}" data-lightbox="roadtrip"><img src="{{ newSmallImageLink | prepend:'img/' | prepend:folderLink | prepend:site.baseurl }}"/></a>
		{% endfor %}
	</div>
    <!-- img div ends -->	
    {% endif %}
       
	<div class="clear"></div>

    <!-- files div starts -->  
    {% if page.files %}
	<div class="files">
		{% for file in page.files %}
			<ul>
				<li><img src="/images/fileIcon.jpg"><a class='teamFiles' href="{{ file | prepend:'files/' | prepend:folderLink | prepend:site.baseurl }}">{{file}}</a>
				</li>
			</ul>
		{% endfor %}
	</div>
	{% endif %}
    <!-- files div ends -->	


</div>
<!-- div right side ends -->

     <div class="clear"></div>
<!-- my code ends -->		

		
</section>
</div>
<!-- add our content in this div ends-->
