---
layout: default
---

<!-- template of the right side of the page for template based teams -->
<div class="post">

<p>
{% for page in site.pages %}
<ul>
 <li>{{ page.title }}</li>
</ul>
{% endfor %}
</p>

{% for project in site.projects %}

{% if project.year == "2014 test it" %}

 {% for team in project.teams %}
{% if team.name == "Team A test case" %}
<!-- Team Name -->
    <h1>{{ team.name }}</h1>
  <img src="{{ team.logo }}" height="42" width="42" >
<!-- year -->
<h2>{{ team.year }}</h2>

<!-- description -->
<p>{% if team.description %} {{ team.description }} {% endif  %}</p>



{% endif %}
{% endfor %}

{% endif %}
{% endfor %}
</div>
